<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunjian.modules.automat.dao.MemberInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yunjian.modules.automat.entity.MemberInfoEntity">
        <id column="member_id" property="memberId" />
        <result column="account" property="account" />
        <result column="username" property="username" />
        <result column="phone_no" property="phoneNo" />
        <result column="commodity_count" property="commodityCount" />
        <result column="balance" property="balance" />
        <result column="donate_money" property="donateMoney" />
        <result column="status" property="status" />
        <result column="register_time" property="registerTime" />
    </resultMap>

</mapper>
